@import 'https://fonts.googleapis.com/css?family=Muli';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Muli';
    margin: 0;
}

.container {
    padding: 30px;
}
